<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="/hotels">HOTELS</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
                aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
            <ul class="navbar-nav m-auto">
                <li class="nav-item m-auto">
                    <a class="nav-link active" href="/hotels">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/hotels/addHotel">Add hotel</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/hotels/addRoom">Add room</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/hotels/addGuest">Add guest</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/hotels/addReservation">Add reservation</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/hotels/addWorker">Add worker</a>
                </li>
            </ul>

            <form class="form-inline my-2 my-lg-0">
                <div class="input-group input-group-sm">
                    <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm"
                           placeholder="Search...">
                    <div class="input-group-append">
                        <button type="button" class="btn btn-secondary btn-number">
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</nav>
<section class="jumbotron">
    <div class="container">
        <h4>Add worker</h4>
    </div>
</section>

<div class="container">
    <div class="row">
        <div class="col-md-5">
            <form action="/hotels/addWorker"
                  method="post"
                  enctype="multipart/form-data"
                  th:object="${worker}" >
                <input type="text" hidden="hidden" name="workerId" th:value="${worker.getWorkerId()}">
                <div class="form-group">
                    <label for="workerName">Worker name</label>
                    <input type="text"
                           class="form-control"
                           th:value="${worker.getWorkerName()}"
                           id="workerName"
                           name="workerName"
                           th:field="*{workerName}"
                           required
                           placeholder="Enter worker name">
                </div>
                <div class="form-group">
                    <label for="workerLastName">Worker last name</label>
                    <input type="text"
                           class="form-control"
                           th:value="${worker.getWorkerLastName()}"
                           id="workerLastName"
                           th:field="*{workerLastName}"
                           name="workerLastName"
                           placeholder="Enter worker last name">
                </div>
                <div class="form-group">
                    <label for="workerShift">Worker shift</label>
                    <input type="text"
                           class="form-control"
                           th:value="${worker.getWorkerShift()}"
                           id="workerShift"
                           th:field="*{workerShift}"
                           name="workerShift"
                           placeholder="Enter worker shift">
                </div>

                <div class="form-group" name="hotelId">
                    <label>Hotel</label>
                    <select class="form-control" th:field="*{hotelId}" >
                        <option
                                th:selected="${worker.getHotelId() != null && worker.getHotelId() == hotel.getHotelId()}"
                                th:each="hotel : ${hotels}"
                                th:value="${hotel.getHotelId()}"
                                th:text="${hotel.getHotelName()}">
                        </option>
                    </select>
                </div>


                <button type="submit" class="btn btn-primary">Submit</button>
                <a type="button" class="btn btn-primary" href="/hotels">Back</a>
            </form>
        </div>
    </div>
</div>


<!-- Footer -->
<footer class="text-black-50">
    <div class="container">

        </div>
    </div>
</footer>
</body>
</html>

